<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <article>
                <h1 style="color:#444;" class="text-center"> Find Your WorkSpace in these countries </h1>
                <div class="col-md-6 col-md-offset-3">

                </div>
            </article>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 "
             ng-repeat="space in countries.data | orderBy:'country' | filter:search">
            <div class="thumbnail card card-raised">
                <img src="http://lorempixel.com/500/250/business" class="img-responsive">
                <div class="caption">
                    <h4 ng-style="{'text-transform':'capitalize'}">{{space.country}}</h4>
                    <p>
                        <ng-pluralize ng-style="{'color':'#666'}" count="space.total"
                                      when="{'0': 'No Spaces.',
                     'one': '1 Space',
                     'other': '{} Spaces'}">
                        </ng-pluralize>
                    </p>
                    <a href="#/country/{{space.country}}" class="btn show-filters" role="button">Find Space</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
</div><!--/container -->
