<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="hdr-btn link-reset belo-container">
                    <div class="navbar-brand">
                        Coworking Visa Map <span>curated by <a href="http://thenetworkhub.ca" target="_blank">
                        The <b>Network</b> hub</a></span>
                    </div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <form ng-controller="SearchCtrl" ng-submit="selectedCountrygmap()">
                        <input vs-google-autocomplete="options"
                               ng-model="address.name"
                               vs-place="address.place"
                               vs-place-id="address.components.placeId"
                               vs-street-number="address.components.streetNumber"
                               vs-street="address.components.street"
                               vs-city="address.components.city"
                               vs-state="address.components.state"
                               vs-country-short="address.components.countryCode"
                               vs-country="address.components.country"
                               vs-post-code="address.components.postCode"
                               vs-district="address.components.district"
                               vs-latitude="address.components.location.lat"
                               vs-longitude="address.components.location.long"
                               type="text"
                               name="address"
                               id="address"
                               class="form-control"
                               placeholder="Where to?">
                        <input type="submit" class="btn btn-small btn-primary" value="submit"/>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a id="locate" title="Locate coworking spaces near me" ng-click='geolocation()'>Locate me</a>
                    <a id="mapview" title="map view" ng-href='#here' ng-click='mapview'></a>
                    <a href="#/countries" id="gridview" title="grid view"></a>
                    <a id="add" title="add my space" ng-click="showAdd()"></a>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>
 
