<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="hdr-btn link-reset belo-container">
                    <div class="navbar-brand">Coworking Visa Map <span>curated by <a href="http://thenetworkhub.ca"
                                                                                     target="_blank">The <b>Network</b> hub</a></span>
                    </div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="SearchCtrl">
                <ul class="nav navbar-nav">
                    <li>

                        <angucomplete-alt id="header-search-form"
                                          placeholder="Where to?"
                                          pause="400"
                                          selected-object="selectedCountry"
                                          remote-url="https://test.thenetworkhub.net/cvm/webservices/listings/search/"
                                          remote-url-data-field="data"
                                          title-field="company,country"
                                          description-field="description"
                                          image-field="logo" minlength="3" matchclass="highlight"
                                          template-url="views/search-template.html"
                                          clear-selected="true"
                                          input-class="form-control form-control-small"/>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a id="locate" title="Locate coworking spaces near me" ng-click='geolocation()'>Locate me</a>
                    <a id="mapview" title="map view" ng-href='#here' ng-click='mapview'></a>
                    <a href="#/countries" id="gridview" title="grid view"></a>
                    <a id="add" title="add my space" ng-click="showAdd()"></a>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>

 
