<div class="modal fade">
    <div class="modal-dialog modal-lg modal-add-space">
        <div class="modal-content" data-ng-controller="headerCtrl">
            <div class="modal-header">
                <legend>
                    <img src="images/logo_.png" width="150">
                </legend>
                <div ng-if="errorName">
                    <div id="messages_name" class="well" ng-show="errorName">{{errorName}}</div>
                </div>
                <div class="modal-close modal-close-position"></div>
                <div id="messages" class="well" ng-show="msg">{{msg}}</div>
            </div>
            <div class="modal-body">
                <form ng-submit="addForm(obj)" id="form" class="form-horizontal" role="form" enctype="multipart/form-data">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-2">
                                <input ng-model="Data.firstname" name="firstname" type="text" placeholder="First Name"
                                       class="form-control input-md">
                            </div>

                            <div class="col-md-4">
                                <input ng-model="Data.lastname" name="lastname" type="text" placeholder="Last name"
                                       class="form-control input-md">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">

                            <div class="col-md-8 col-md-offset-2">
                                <input ng-model="Data.company" name="company" type="text" placeholder="Company"
                                       class="form-control input-md">
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">

                            <div class="col-md-8 col-md-offset-2">
                                <label for="address">Full Address</label>
                                <textarea ng-model="Data.address" class="form-control" id="address" name="address"
                                          placeholder="Full Address">Full Address</textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label for="address">Contacts</label>
                                <input ng-model="Data.email" name="email" type="text" placeholder="E-mail"
                                       class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-2">
                                <input ng-model="Data.phone" name="phone" type="text" placeholder="Phone"
                                       class="form-control input-md" required="true">
                            </div>
                            <div class="col-md-4">
                                <input ng-model="Data.website" name="website" type="text" placeholder="Website"
                                       class="form-control input-md" required="true">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group option2">
                            <div class="row">
                                <label class="col-md-4 col-md-offset-2 text-centered" for="selectbasic">Free Days
                                    Offered</label>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <select ng-model="Data.free_days" id="selectbasic" name="Free_days"
                                            class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- File Button -->
                        <div class="form-group otpions3">
                            <div class="col-md-4 col-md-offset-2" id="popover" data-container="body"
                                 data-toggle="popover" data-placement="bottom"
                                 data-content="suggested image size: square">
                                <h6>Company Logo</h6>
                                <label class="btn btn-default btn-file">
                                    Browse <input file-model='fileModel' name="logo" type="file" style="display: none;">
                                </label>
                                <p ng-if="fileModel" style="font-size: 6px;">
                                {{ fileModel.name }}
                                </p>
                            </div>


                            <div class="col-md-4" id="popover2" data-container="body" data-toggle="popover"
                                 data-placement="bottom" data-content="suggested image size: 1440 x 960">
                                <h6>Space Image</h6>
                                
                                <label class="btn btn-default btn-file">
                                    Browse <input file-model='file' name="space" type="file" style="display: none;">
                                </label>
                                <p ng-if="file" style="font-size: 6px;">
                                 {{ file.name }}
                                </p>
                            </div>

                            <!-- Prepended checkbox -->
                            <div class="form-group" style="margin-top: 95px;">
                                <div class="col-md-8 col-md-offset-2">
                                  <span class="input-group-addon">
                                      Terms and conditions
                                      <input ng-model="Data.check.value" type="checkbox">
                                  </span>
                                    <p class="help-block text-center">My Space is listed on the coworking wiki
                                        website</p>
                                </div>
                                <input type="submit" class="btn btn-default btn-primary" value="submit"/>
                            </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
