<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <legend>
                    <img src="images/logo_.png" width="150">
                </legend>
                <div ng-if="errorName">
                    <div id="messages" class="well" ng-show="errorName">{{errorName}}</div>
                </div>
                <div class="alert alert-warning" ng-show="msg">
                    <div class="container-fluid">
                        <b>Success Alert:</b> {{msg}}
                    </div>
                </div>

                <div class="modal-body">
                    <form id="report" ng-submit="processForm()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-2">
                                <input name="Firstname" type="text" placeholder="First Name"
                                       class="form-control input-md" required ng-model="formData.Firstname">
                                <div class="error" data-ng-messages="report.Firstname.$error"
                                     data-ng-show="report.$submitted" data-ng-cloak>
                                    <p data-ng-message="required">Please provide your First Name</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input name="Lastname" type="text" placeholder="Last name" class="form-control input-md"
                                       required ng-model="formData.Lastname">
                                <div ng-messages="report.LastName.$error">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <input id="textinput" name="Email" type="email" placeholder="E-mail"
                                       class="form-control input-md" required ng-model="formData.email">
                                <div class="error" data-ng-messages="report.email.$error"
                                     data-ng-show="report.$submitted" data-ng-cloak>
                                    <p data-ng-message="required">Please provide your email</p>
                                </div>
                                <div class="error" data-ng-messages="serverErrors" data-ng-show="report.$submitted"
                                     data-ng-cloak>
                                    <p data-ng-message="emailexists">Email already exists</p>
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group" style="margin-top: 50px;">
                                <div class="col-md-8 col-md-offset-2">
                                    <!--<label for="textarea"></label>-->
                                    <textarea class="form-control" name="Reason" rows="10"
                                              ng-model="formData.reason" placeholder="Reason(s) for reporting"></textarea>
                                    <div ng-messages="report.Reason.$error">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="input-group">
                                    <input type="submit" class="btn btn-default btn-primary" value="Report this listing"/>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
