<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <legend>
                    <img src="images/logo_.png" width="150">
                </legend>
                <div ng-if="errorName">
                    <div id="messages_name" class="well" ng-show="errorName">{{errorName}}</div>
                </div>
                <div id="messages" class="well" ng-show="msg">{{msg}}</div>
            </div>
            <div class="modal-body">
                <form id="request" ng-submit="processForm()" class="form-horizontal" role="form" name="form.theForm">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <input name="Firstname" type="text" placeholder="First Name" class="form-control input-md"
                                   required ng-model="searchStr.Firstname">
                            <div class="error" data-ng-messages="report.Firstname.$error"
                                 data-ng-show="report.$submitted" data-ng-cloak>
                                <p data-ng-message="required">Please provide your First Name</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input name="Lastname" type="text" placeholder="Last name" class="form-control input-md"
                                   required ng-model="searchStr.Lastname">
                            <div ng-messages="report.LastName.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <input id="textinput" name="Email" type="email" placeholder="E-mail"
                                   class="form-control input-md" required ng-model="searchStr.email">
                            <div class="error" data-ng-messages="report.email.$error" data-ng-show="report.$submitted"
                                 data-ng-cloak>
                                <p data-ng-message="required">Please provide your email</p>
                            </div>
                            <div class="error" data-ng-messages="serverErrors" data-ng-show="report.$submitted"
                                 data-ng-cloak>
                                <p data-ng-message="emailexists">Email already exists</p>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <angucomplete-alt id="requestBooking" input-class="form-control input-md"
                                              placeholder="Workspaces" pause="100"
                                               selected-object="selectedCountry"
                                          remote-url="https://test.thenetworkhub.net/cvm/webservices/listings/search/"
                                          remote-url-data-field="data"
                                          title-field="company,country"
                                          description-field="description"
                                          image-field="logo" minlength="2" matchclass="highlight"
                                          template-url="views/search-template.html"
                                          input-class="form-control form-control-small"/>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <input id="verifiedBy" name="verifiedBy" type="text" placeholder="Verified By"
                                   class="form-control input-md" required ng-model="searchStr.verifiedBy">
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <input id="visitingDate" name="visitingDate" type="text"
                                   class="form-control" value="{{::visitingDate}}" disabled>
                        </div>
                        <div class="col-md-4">
                            <input id="guests" name="guests" type="text"
                                   class="form-control" value="{{::guests}}" disabled>
                        </div>
                    </div>

                       

                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <input type="submit" class="btn btn-default btn-primary" value="Request Booking"/>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
