<div class="container-fluid" style="height:150px;">
    <div class="col-md-7">
        <div class="listings-container">
            <div class="row">
                <pre>{{cLat}}</pre>
                <div class="col-sm-12 row-space-2 col-md-6 ng-scope" ng-repeat="space in spaces.data">
                    <div class="listing list_view card card-raised card-carousel">

                        <div class="panel-image listing-img">
                            <div class="listing-description wl-data-10011">
                                <div class="summary">
                                    <p> {{space.description}}
                                        <a href="" id="tooltip-sticky-10011" class="learn-more">Learn More</a>
                                    </p>

                                </div>
                                <p class="address">{{space.address}}</p>

                            </div>
                            <a ng-href="#spaces/{{space.property_id}}" class="media-photo media-cover">
                                <div ng-if="!space.space_photo" class="listing-img-container media-cover text-center">
                                    <video src="https://www.thenetworkhub.ca/wp-content/uploads/2016/06/the-network-hub-intro.mp4"></video>
                                </div>
                                <div ng-if="space.space_photo" class="listing-img-container media-cover text-center">
                                    <img src="{{imageUrl + space.space_photo}}" class="img-responsive"
                                         alt="{{space.company}}">
                                </div>

                            </a>

                            <a ng-href="#spaces/{{space.property_id}}" target="{{space.property_id}}"
                               class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                <div>

                                    <span class="h3 text-contrast price-amount">{{space.views}}</span>
                                    <sup class="h6 text-contrast">views</sup>
                                    <!-- ngIf: rooms.booking_type == 'instant_book' -->
                                </div>
                            </a>
                        </div>

                        <div class="panel-body panel-card-section">
                            <div class="media">
                                <a ng-href="#spaces/{{space.property_id}}" class="text-normal">
                                    <h4 title="{{space.company}}" itemprop="name"
                                        class="h5 listing-name text-truncate row-space-top-1">
                                        {{space.company}}
                                    </h4>
                                </a>
                                <div itemprop="description" class="text-muted listing-location text-truncate"><a
                                        ng-href="#spaces/{{space.property_id}}" class="text-normal link-reset">
                                    {{space.description}}

                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div dir-paginate-end><!-- end ngRepeat -->
                <div>
                    <div id="latitude">{{position}}</div>
                </div>

                <h2 ng-hide="spaces.data.length" class="text-center ng-hide" id="no_results" style="display: block;">
                    No Results Found
                </h2>

            </div>

        </div>

        <div class="results-footer">
            <div class="pagination-buttons-container row-space-8">
                <div class="results_count">
                    <p ng-show="spaces.data" class="ng-binding">
                        {{(spaces.data|filter:query).length}} of {{spaces.data.length}} Spaces
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-5 hide-md">
        <style>
            #map {
                min-height: 110vh;
            }
        </style>
        <div id="map"></div>

    </div>
</div>
