<main id="site-content" role="main">
    <div class="subnav-container"></div>
    <div id="og_pro_photo_prompt" class="container"></div>
    <div id="room" itemscope="" itemtype="http://schema.org/Product">
        <div id="photos" class="with-photos with-modal">
            <span class="cover-img-container img-box1" data-hook="cover-img-container">
                <a href="" oncontextmenu="return false" class="gallery" data-lightbox-type="iframe">
                    <div id="frontimage_slider" class="cover-img" data-hook="img-lg" style="background-image:
                        url({{imageUrl + space.space_photo}});">
                    </div>
                </a>
             </span>
        </div>
        <div id="summary" class="panel room-section">
            <div class="page-container-responsive">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row-space-4 row-space-top-4 summary-component">
                            <div class="row">
                                <div class="col-md-3 space-sm-4 text-center space-sm-2">
                                    <div class="media-photo-badge">
                                        <a href="#" class="media-photo media-round">
                                            <img alt="User Profile Image" class="host-profile-image"
                                                 data-pin-nopin="true" height="115"
                                                 ng-src="{{imageUrl + space.profile}}" title="{{space.firstname}}"
                                                 width="115">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h1 itemprop="name" class="overflow h3 row-space-1 text-center-sm"
                                        id="listing_name">
                                        {{space.company}}
                                    </h1>
                                    <div id="display-address" class="row-space-2 text-muted text-center-sm"
                                         itemprop="aggregateRating" itemscope="">
                                        <a href="#" class="link-reset">{{space.city}} , {{space.state}} ,
                                            {{space.country}}</a>

                                        <!--<a href="#reviews" class="link-reset hide-sm">-->
                                            <!--<div class="star-rating-wrapper">-->
                                                <!--<div class="star-rating">-->
                                                    <!--<div class="foreground"><i class="icon icon-beach icon-star"></i> <i-->
                                                            <!--class="icon icon-beach icon-star"></i> <i-->
                                                            <!--class="icon icon-beach icon-star"></i> <i-->
                                                            <!--class="icon icon-beach icon-star"></i></div>-->
                                                    <!--<div class="background"><i-->
                                                            <!--class="icon icon-star icon-light-gray"></i> <i-->
                                                            <!--class="icon icon-star icon-light-gray"></i> <i-->
                                                            <!--class="icon icon-star icon-light-gray"></i> <i-->
                                                            <!--class="icon icon-star icon-light-gray"></i> <i-->
                                                            <!--class="icon icon-star icon-light-gray"></i></div>-->
                                                <!--</div>-->
                                                <!--<span> </span>-->
                                                <!--<span>-->
                                                <!--<small>-->
                                                <!--<span>(</span>-->
                                                <!--<span>1</span>-->
                                                <!--<span>)</span>-->
                                                <!--</small>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    </div>
                                    <div class="row row-condensed text-muted text-center">
                                        <div class="col-sm-3">
                                            <i class="icon icon-private-room icon-size-2"></i>
                                        </div>
                                        <div class="col-sm-3">
                                            <i class="icon icon-group icon-size-2"></i>
                                        </div>
                                        <!--<div class="col-sm-3">-->
                                            <!--<i class="icon icon-double-bed icon-size-2"></i>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-muted text-center hide-sm">
                                    <a href="#" class="link-reset text-wrap">{{space.firstname}}</a>
                                </div>
                                <div class="col-md-9">
                                    <div class="row row-condensed text-muted text-center">
                                        <div class="col-sm-3">
                                            Option 1
                                        </div>
                                        <div class="col-sm-3">
                                            {{space.views}} Views
                                        </div>
                                        <!--<div class="col-sm-3">-->
                                            <!--4 Beds-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="tax-descriptions-tip" class="tooltip tooltip-top-middle " role="tooltip"
                             data-sticky="true" data-trigger="#tax-descriptions-tooltip">
                        </div>
                        <div class="container">
                            <form accept-charset="UTF-8" action="" id="book_it_form" method="post" class="ng-pristine">
                                <h4 class="screen-reader-only">
                                    Request to Book
                                </h4>
                                <!-- removed as per styling but keeping if needs to be added -->
                                <!--<div id="pricing" itemprop="offers" itemscope="" class="">-->
                                    <!--<div id="price_amount" class="book-it-price-amount pull-left h3 text-special">Options-->
                                        <!--<span id="rooms_price_amount" value=""></span>-->
                                    <!--</div>-->
                                    <!--<i class="icon icon-bolt icon-beach pull-left h3 pricing__bolt"></i>-->
                                    <!--<div id="payment-period-container" class="pull-right">-->
                                        <!--<div id="per_night" class="per-night">-->
                                            <!--<ng-pluralize ng-style="{'color':'#FFF'}" count="space.free_days"-->
                                                          <!--when="{'0': 'No Free Days.',-->
                                                <!--'one': '1 Day',-->
                                                <!--'other': '{} Days'}">-->
                                            <!--</ng-pluralize>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </form>
                            <div id="book_it" class="display-subtotal" style="top: 0;">
                                <div class="panel book-it-panel">
                                    <div class="panel-body panel-light">
                                        <div class="form-fields">
                                            <div class="row row-condensed space-3">
                                                <div class="col-md-9">
                                                    <div class="row row-condensed">
                                                        <div class="col-sm-12">
                                                            <label for="checkin">
                                                                Drop In Date
                                                            </label>
                                                            <input class="checkin ui-datepicker-target hasDatepicker"
                                                                   autocomplete="on" id="list_checkin" name="checkin"
                                                                   placeholder="{{date | date:'dd-MM-yyyy'}}"
                                                                   type="date"
                                                                   ng-modal="searchStr.visitingDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="number_of_guests">
                                                        Guests
                                                    </label>
                                                    <div class="select select-block">
                                                        <select id="number_of_guests" name="number_of_guests">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="simple-dates-message-container hide">
                                                <div class="media text-kazan space-top-2 space-2">
                                                    <div class="pull-left message-icon">
                                                        <i class="icon icon-currency-inr"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <strong>
                                                            Enter dates for accurate prices and availability.
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="js-book-it-status">
                                            <div class="js-book-it-enabled clearfix">
                                                <div class="js-subtotal-container book-it__subtotal panel-padding-fit"
                                                     style="display:none;">
                                                </div>
                                                <div class="js-book-it-btn-container ">
                                                    <button type="submit" ng-click="showBook()"
                                                            class="js-book-it-btn btn btn-large btn-block show-filters">
                                                    <span class="book-it__btn-text ">
                                                    Request Booking
                                                    </span>
                                                    </button>
                                                </div>
                                                <p class="text-muted book-it__btn-text--instant-alt space-1 space-top-3 text-center ">
                                                    <small>
                                                        <a ng-click="show()">Report this listing</a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel wishlist-panel space-top-6">
                                    <div class="panel-body panel-light">
                                        <div class="other-actions hide-sm text-center">
                                            <div class="social-share-widget space-top-3 p3-share-widget">
                                                <span class="share-title">
                                                Share:
                                                </span>
                                                <span class="share-triggers">
                                                <a class="share-btn link-icon" data-email-share-link=""
                                                   data-network="email" rel="nofollow" title="Email"
                                                   href="mailto:?subject=#">
                                                <span class="screen-reader-only">Email</span>
                                                <i class="icon icon-envelope social-icon-size"></i>
                                                </a>
                                                <a class="share-btn link-icon" data-network="facebook" rel="nofollow"
                                                   title="Facebook"
                                                   href="http://www.facebook.com/sharer.php?u=#" target="_blank">
                                                <span class="screen-reader-only">Facebook</span>
                                                <i class="icon icon-facebook social-icon-size"></i>
                                                </a>
                                                <a class="share-btn link-icon" data-network="twitter" rel="nofollow"
                                                   title="Twitter"
                                                   href="http://twitter.com/home?status=" target="_blank">
                                                <span class="screen-reader-only">Twitter</span>
                                                <i class="icon icon-twitter social-icon-size"></i>
                                                </a>
                                                <a class="share-btn link-icon" data-network="pinterest" rel="nofollow"
                                                   title="Pinterest"
                                                   href="http://pinterest.com/pin/create/button/?url=#&media="
                                                   target="_blank">
                                                <span class="screen-reader-only">Pinterest</span>
                                                <i class="icon icon-pinterest social-icon-size"></i>
                                                </a>
                                                <a class="share-btn link-icon"
                                                   href="https://plus.google.com/share?url=#" itemprop="nofollow"
                                                   rel="publisher"
                                                   target="_blank">
                                                <span class="screen-reader-only">Google+</span>
                                                <i class="icon social-icon-size icon-google-plus"></i>
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="details" class="details-section webkit-render-fix">-->
            <!--<div id="summary-extend" class="page-container-responsive">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-8" id="details-column">-->
                        <!--<div class="row-space-8 row-space-top-8">-->
                            <!--<h4 class="row-space-4 text-center-sm">-->
                                <!--About this listing-->
                            <!--</h4>-->
                            <!--<p>{{space.description}}</p>-->
                            <!--<div id="photo-gallery" class="photo-grid row-space-4 row-space-top-4 hide-sm ">-->
                                <!--&lt;!&ndash;  &ndash;&gt;-->
                                <!--&lt;!&ndash; 5 &ndash;&gt;-->
                                <!--<div class="row featured-height">-->
                                    <!--<div class="col-12 row-full-height img-box1">-->
                                        <!--<a class="photo-grid-photo photo-trigger gallery"-->
                                           <!--style="background-image: url({{imageUrl + space.space_photo}}" data-index="1"-->
                                           <!--data-lightbox-type="iframe">-->
                                            <!--<img src="{{imageUrl + space.space_photo}}" class="hide" alt="">-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-6 supporting-height img-box1">-->
                                    <!--<a class="photo-grid-photo photo-trigger gallery"-->
                                       <!--style="background-image: url({{imageUrl + space.space_photo}}" data-index="2"-->
                                       <!--data-lightbox-type="iframe">-->
                                        <!--<img src="{{imageUrl + space.space_photo}}" class="hide" alt="">-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="col-6 supporting-height img-box1">-->
                                    <!--<div class="media-photo media-photo-block row-full-height">-->
                                        <!--<div class="media-cover media-cover-dark img-box1">-->
                                            <!--<a class="photo-grid-photo photo-trigger gallery"-->
                                               <!--style="background-image: url({{imageUrl + space.space_photo}})"-->
                                               <!--href="10001/slider.html"-->
                                               <!--data-index="5" data-lightbox-type="iframe">-->
                                                <!--<img src="url({{imageUrl + space.space_photo}}"-->
                                                     <!--class="hide"-->
                                                     <!--alt="">-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--<a class="photo-trigger gallery"-->
                                           <!--href="10001/slider.html"-->
                                           <!--data-index="5" data-lightbox-type="iframe">-->
                                            <!--<div class="row row-table supporting-height">-->
                                                <!--<div class="col-6 col-middle text-center text-contrast">-->
                                                    <!--<div class="h5">-->
                                                        <!--See all Photos-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div id="host-profile" class="room-section webkit-render-fix">
            <div class="page-container-responsive space-top-8 space-8">
                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="row-space-4 text-center-sm">
                            About the {{space.company}}
                        </h4>
                        <div class="row">
                            <!--<div class="col-md-3 text-center">-->
                                <!--<a href="" class="media-photo media-round"><img alt="Test" data-pin-nopin="true"-->
                                                                                <!--height="90"-->
                                                                                <!--ng-src="{{imageUrl + space.profile}}"-->
                                                                                <!--title="Test" width="90"></a>-->
                            <!--</div>-->
                            <div class="col-md-9">
                                <div class="row row-condensed space-2">
                                    <div class="col-md-6">
                                        <div>
                                           - Member since {{space.created_date|date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="space-4 space-top-4">
                        <!--<div class="row">-->
                            <!--<div class="col-md-3">-->
                                <!--<div class="text-muted">-->
                                    <!--Trust-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                                <!--<div class="row row-condensed">-->
                                    <!--<div class="col-sm-4 col-md-3">-->
                                        <!--<a class="link-reset" rel="nofollow" href="#">-->
                                            <!--<div class="text-center text-wrap">-->
                                                <!--<div class="badge-pill h3">-->
                                                    <!--<span class="badge-pill-count">{{space.views}}</span>-->
                                                <!--</div>-->
                                                <!--<div class="row-space-top-1">Views</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="neighborhood" class="room-section">
            <div class="page-container-responsive" data-reactid=".2" style="position:relative;">
                <div class="panel location-panel" ng-controller="GmapCtrl">
                    <style>
                        #map {
                            height: 100%;
                        }
                    </style>
                    <div id="map"></div>
                    <ul id="guidebook-recommendations" class="hide">
                        <li class="user-image">
                            <a href="#"><img alt="Jeya" data-pin-nopin="true" height="90" src="#" title="Jeya"
                                             width="90"></a>
                        </li>
                    </ul>
                    <div id="hover-card" class="panel">
                        <div class="panel-body">
                            <div class="text-center">
                                Listing Location
                            </div>
                            <div class="text-center">
                                <span>
                                <a href="#" class="text-muted"><span>{{space.state}},</span></a>
                                </span>
                                <span>
                                <a href="#" class="text-muted"><span>{{space.country}}</span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="similar-listings" class="row-space-top-4">
            <div class="page-container-responsive">
                <h4 class="row-space-4 text-center-sm">
                    Similar Listings
                </h4>
                <div class="slider1">
                    <div class="col-md-4"
                         ng-repeat="similar in spaces | filter :{country: space.country, property_id: '!' + space.property_id }| limitTo: 3">
                        <div class="listing">
                            <div class="panel-image listing-img">
                                <a ng-href="#spaces/{{similar.property_id}}" target="_self"
                                   class="media-photo media-cover">
                                    <div class="listing-img-container media-cover text-center slide">
                                        <img src="{{imageUrl + similar.space_photo}}" alt="">
                                    </div>
                                </a>
                                <a ng-href="#spaces/{{similar.property_id}}" target="_self"
                                   class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                    <div>
                                        <span class="h3 text-contrast price-amount">{{similar.views}}</span>
                                        <sup class="h6 text-contrast">views</sup>
                                        <!-- ngIf: rooms.booking_type == 'instant_book' -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>